<h1>Your Work Sessions</h1>

<a href="/work_sessions/new"><button class="btn btn-success">Create New Session</button></a>

<a href="/projects/<%= user.id %>/list"><button class="btn btn-info">View Projects</a></button>
