<h1 class="text-center">Time Tracker</h1>
<div class="text-center">
  <a href="/login"><button class="btn btn-success">Log In</button></a>
  <a href="/register"><button class="btn btn-info">Register</button></a>
</div>
