<h1>Your Work Sessions</h1>

<% work_sessions.each do |work_session|  %>
  <a href="/work_session/<%= work_session.id %>/view"><li><%= work_session.description %></li></a>
<% end %>

<a href="/work_sessions"><button class="btn btn-success">Create New Work Session</button></a>
