<h1 class="text-center">Create New Work Session</h1>
<div class="container">
  <form method="post" action="/work_sessions">

    <p>Select the project this Work Session belongs to:</p>
    <select name="project_name">
      <% projects.each do |project| %>
      <option value="<%= project.name %>"><%= project.name %></option>
      <% end %>
    </select><br>
    
    <div class="form-group row">
      <div class="col-xs-12 col-md-6">
        <label for="date">Date of Session:</label>
        <input type="date" class="form-control" id="date" name="date">
      </div>
      <div class="col-xs-12 col-md-6">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description">
      </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-12 col-md-6">
      <label for="start_time">Start Time:</label>
      <input type="time" class="form-control" id="start_time" name="start_time">
    </div>
    <div class="col-xs-12 col-md-6">
      <label for="end_time">End Time:</label>
      <input type="time" class="form-control" id="end_time" name="end_time">
    </div>
  </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="is_billable" id="is_billable" value="true">Billable
      </label>
      <label class="btn btn-warning">
        <input type="radio" name="is_billable" id="is_billable" value="false">Not Billable
      </label>
    </div>


    <button type="submit" class="center-block btn btn-success">Submit</button>
  </form>
</div>
