<h1 class="text-center">Filter Work Sessions</h1>

<div class="container">
  <form method="post" action="/users/sessions">

    <div class="form-group row">
      <div class="col-xs-12 col-md-6">
        <label for="start_date">From Date:</label>
        <input type="date" class="form-control" id="start_date" name="start_date">
      </div>
      <div class="col-xs-12 col-md-6">
        <label for="end_date">To Date:</label>
        <input type="date" class="form-control" id="end_date" name="end_date">
      </div>
    </div>

    <div class="radio">
      <label for="is_billable"><input type="radio" class="form-control" id="is_billable" name="is_billable" value="true">Is Billable</label>
    </div>
    <div class="radio">
      <label for="is_billable"><input type="radio" class="form-control" id="is_billable" name="is_billable" value="false">Is Not Billable</label>
    </div>

    <button type="submit" class="center-block btn btn-success">Submit</button>
  </form>
</div>
