<h1 class="text-center">Filter Work Sessions</h1>

<div class="container">
  <form method="post" action="/users/sessions">

    <div class="form-group row">
      <div class="col-xs-12 col-md-6">
        <label for="start_date">From Date:</label>
        <input type="date" class="form-control" id="start_date" name="start_date">
      </div>
      <div class="col-xs-12 col-md-6">
        <label for="end_date">To Date:</label>
        <input type="date" class="form-control" id="end_date" name="end_date">
      </div>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="is_billable" id="is_billable" value="true">Billable
      </label>
      <label class="btn btn-warning">
        <input type="radio" name="is_billable" id="is_billable" value="false">Not Billable
      </label>
    </div>

    <button type="submit" class="center-block btn btn-success">Submit</button>
  </form>
</div>
