<h1 class="text-center">Your Account</h1>
<div class="container">
  <div class="row">

  <div class="text-center">
    <a href="/projects/<%= user.id %>/list"><button class="btn btn-info">See Your Projects</button></a>
    <a href="/work_sessions/<%= user.id %>/list_user"><button class="btn btn-info">See Your Work Sessions</button></a>    
  </div>
</div>
